 

@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Entering Data";
}
<head>
	<style type="text/css">

		input:required:invalid {
			border: 1px solid;
			color: red
		}
	</style>
</head>

<form action="~/WaveAlgorithm.cshtml" method="post">
	
	<div class="ui-controlgroup">
		<table>
			<tr>
				<td>
				     @Html.Label("Coordinate X:")
				</td>
				<td>
					<input name="X" type="number" autofocus required max="10" min="0" />

				</td>
				<td>
					@Html.Label("Coordinate Y:")
				</td>
				<td>
					<input name="Y" id="Y" type="number" autofocus required max="10" min="0" />
				</td>
			</tr>
		</table>
		<div class="ui-controlgroup">
			<p>The Size of the matrix</p>
			@Html.Label("Rows:")
			<input name="Rows" type="number" autofocus required max="10" min="0" />
			<br />
			@Html.Label("Cols:")
			<input name="Cols" type="number" autofocus required max="10" min="0" />
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Set" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>


